<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>names</key>
	<array>
		<string>Imely</string>
		<string>Hono</string>
		<string>Halan</string>
		<string>Gryan</string>
		<string>Guam</string>
		<string>Frank</string>
		<string>Fual</string>
		<string>Emba</string>
		<string>Ding</string>
		<string>Danniel</string>
		<string>Dose</string>
		<string>Carl</string>
		<string>Carissa</string>
		<string>Careen</string>
		<string>Bailey</string>
		<string>Bas</string>
		<string>Abbi</string>
		<string>Abbey</string>
		<string>AAliyah</string>
	</array>
</dict>
</plist>
